/** @format */

main,
header,
section,
aside,
footer {
  margin: 0;
  padding: 20px;
}

header {
  font-size: 1.5rem;
}

body {
  background-image: url("images/bg-planos.jpg");
  color: white;
  font-family: "roboto", sans-serif;
}

button {
  background-color: rgb(81, 132, 30);
  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
  font-size: 20px;
}

ul {
  padding: 0;
  list-style-type: none;
}

.header {
  text-align: center;
}

.hero {
  text-align: center;
}

.content {
  flex: 1;
  text-align: center;
}

#secJogos {
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  padding-bottom: 40px;
}

#secResultadoComparacao {
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  padding-bottom: 40px;
}

.sidebar {
  flex: 0 1 300px;
  text-align: center;
}

.footer {
  text-align: center;
}

.wrapper {
  margin: auto;
  max-width: 75rem;
}

@media screen and (min-width: 1000px) {
  .flex-container {
    display: flex;
  }
}

#ulJogos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.jogo {
  padding: 20px 11px;
  text-align: left;
}

.naoAparecer {
  display: none;
  opacity: 0;
}

.aparecer {
  display: block;
  opacity: 1;
  transition: all 2.5s linear;
}

.plano {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 20px;

  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 12px;
}

#btnComparar {
  margin-top: 30px;
}
