/** @format */

/* Remove estilos do navegador*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  font-size: 1.5rem;
}

body {
  background-image: linear-gradient(120deg, rgb(181, 218, 181), green);
  color: white;
  font-family: "Poppins", sans-serif;
}

button {
  background-color: rgb(81, 132, 30);
  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
  font-size: 20px;
}

ul {
  list-style-type: none;
}

/*Inicio Containers*/
.containerPrincipal {
  display: flex;
  flex-direction: column;
}

/*Nivel 1 */
.titulo {
  text-align: center;
}

.containerJogoComparacaoPlano {
  display: flex;
  flex-direction: row;
}

.rodape {
  text-align: center;
}

/*Nivel 2 */
.containerJogoComparacao {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 10px 0px 10px 30px;
}

.planos {
  border: solid;
  width: 20%;
  padding: 10px 0px 10px 30px;
}
/*Nivel 3 */

.jogos {
  width: 100%;
}

.comparacao {
  width: 100%;
  text-align: center;
}
/*Fim Containers*/

#ulJogos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.jogo {
  padding: 10px;
}

.naoAparecer {
  opacity: 0;
}

.aparecer {
  opacity: 1;
  transition: all 2.5s linear;
}
